---
---

<main class="h-card">
    <p class="p-name">Guilherme Puida</p>
    <p class="p-note">IndieWeb enthusiast.</p>

    <ul>
        <li><a href="https://puida.xyz" class="u-uid u-url">My personal website</a></li>
        <li><a href="https://github.com/guilherme-puida" class="u-url">@guilherme-puida</a></li>
    </ul>
</main>